header {
    display: grid;

}

.header-logo {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}

header a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../../assets/header-bg.png);
    background-size: cover;
    height: 800px;
}

.header-menu {
    display: flex;
    margin-top: 50px;
    gap: 40px;
    justify-content: space-around;
    justify-items: center;
    list-style: none;
    display: inline-flex;
}

ul {
    padding: 0px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-menu {
    padding: 10px 15px;
}
.item-menu:hover {

    background-color: #FFB000;
    border-radius: 5% ;
}
h1 {
    color: white;
    font-size: 80px;
}

.header-titulo {
    text-decoration: none;
    font-size: 72px;
    font-weight: 100;
    text-align: center;
    margin-top: -500px;
    line-height: 100px;

}

.h1-cor {
    color: #FFB000;
    font-size: 120px;
    font-family: 'Jim Nightshade';
}



