* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-size: 16px;
}

footer {
    background: #330503;
    padding: 0px 80px;
    padding: 40px 0px 80px 0px;
    
}
.titulo-footer {
    font-size: 1.25em;
}
#logo-footer {
    align-self: center;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    
}

#conteudo-footer {
    display: flex;
    color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: initial;
    
}
#informacoes-footer {
    height: 240px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    background: #290403;
    padding: 30px;
    margin-bottom: 40px;
}

.lista-conteudo {
    list-style-type: none;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-lista {
    font-size: 18px;
    color: #f5f5f5;
}
.link-item {
    text-decoration: none;
    color: #f5f5f5;
}
#direitos-reservados {
    padding-left: 8%;
    color: #ffffff;
    font-size: 0.8em;
    opacity: 70%;
}
