.bg-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000ab;
}

.principal-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 3rem 6rem;
    border-radius: 15px;
}
.botao-popup a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}

.botao-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 50px;
    border-radius: 30px;
    margin-top: 25px;
}
#voltar {
    font-size: 24px;
    margin-top: 60px;
    border: none;

}
.titulo-popup {
    font-size: 48px;
    margin-bottom: 30px;
    text-align: center;
}

#whatsapp {
    background: #25D366;
}
#online {
    background: #FFB000;
}
#numero {
    background: #640A07;
}
#numero a {
    color: white;
}
.whatsappImg{
    height: 37px;
}
#ifood{
    background: #ff2800;
}