.item-categoria {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 10px solid white;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.descricao-item {
    width: 80%;
}
.valor-item {
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.valor-item span {
    color: #500806;
    font-weight: 700;
}
.item-categoria img{
    border-radius: 25px;
    height: 178px;
    width: 270px;
}
.item-categoria p {
    width: 100%;
}
