#main-contato {
    width: 100%;
    flex-shrink: 0;
    background: linear-gradient(#330503 70%, #f2f2f2 30%);

}

.titulo-pagina h1 {
    text-align: center;
    color: #FFF;
    font-family: Jim Nightshade;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#formulario {
    padding-top: 40px;
    padding-bottom: 80px;
}
.titulo-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}

#formulario-contato {
    display: flex;
    justify-content: center;
    align-items: center;

}

#informacoes-formulario {
    display: flex;
    flex-direction: column;
    color: #FFF;
    border-radius: 5px 0px 0px 5px;
    background: #290403;
    gap: 59px;
    padding: 70px 0px 45px 70px;
    width: 30%;
}

.conteiner-info {
    display: flex;
    gap: 10px;
    width: 75%;
}

#detalhe-formulario {
    margin-top: 100px;
}

.campos-geral{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

#formulario form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 54%;
    padding: 75px 0px 75px 75px;
    gap: 30px;
    background: var(--W, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
    color: #000000;
    font-weight: 700;
    
}

#formulario form input,
select,
textarea {
    width: 336px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--c02, #EDEDED);
    background: var(--c01, #F7F7F7);
    margin-top: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#formulario form textarea {
    width: auto;
    height: auto;
}

.botao-formulario button {
    display: flex;
    height: 65px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10x;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A60C 100%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
    border: none;
    font-weight: 700;
}
.botao-formulario button:hover {
    cursor: pointer;
}