header {
    display: grid;

}

.header-logo {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}

header a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../../assets/header-bg.png);
    background-size: cover;
    height: 800px;
}

.header-menu {
    display: flex;
    margin-top: 50px;
    gap: 40px;
    justify-content: space-around;
    justify-items: center;
    list-style: none;
    display: inline-flex;
}

ul {
    padding: 0px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-menu {
    padding: 10px 15px;
}
.item-menu:hover {

    background-color: #FFB000;
    border-radius: 5% ;
}
h1 {
    color: white;
    font-size: 80px;
}

.header-titulo {
    text-decoration: none;
    font-size: 72px;
    font-weight: 100;
    text-align: center;
    margin-top: -500px;
    line-height: 100px;

}

.h1-cor {
    color: #FFB000;
    font-size: 120px;
    font-family: 'Jim Nightshade';
}

.mobile-menu {
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    .header-titulo{
    display: none;  
    justify-content: center;
    }
    .diferencial-home-tipos,
    .sobrenos-img,
    .titulo-sobrenos,
    .sobrenos-texto,
    .sobrenos,
    .linhas-titulo
    {
      display: none;
    }

    .funcionamento-bg img{
        display: none;
    }
    .especialidades-titulo
    {
        font-size: 40px;
    }
    .faca-pedido-home {
        margin-top: 40px;
    }
    
    .header-menu {
        
        position: absolute;
        top: 18vh;
        right: 0;
        width: 100vw;
        background: #290403;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        padding-bottom: 20px;
    }
    .header-menu ul {
        border-style: solid;
        border-width: 2px;
        border-color: #fff;
        
    }
    .header-menu li {
        margin-left: 0;
    }
    .mobile-menu {
        padding-top: 50px;
        display: block;
    }
    
    .header-menu.open {
        transform: translateX(0);
    }
    .header {
        height: 600px;
    }
    
  }
  

  
