@font-face {
  font-family: 'glacial-indifference-regular';
  src: url('/src/assets/font/glacial-indifference.regular.otf') format('otf');
}
@font-face {
  font-family: 'fearless-basic-art';
  src: url('/src/assets/font/fearless-basic-art.ttf') format('ttf');
}
p, a, li, button {
  font-family: 'glacial-indifference-regular';
}
h1, h2, span {
  font-family: 'fearless-basic-art';
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 500px){
  body {
    overflow-x: hidden;
}
.linhas-titulo
    {
      display: none;
    }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
